{% extends "layouts/_main" %}

{% set otherPosts = craft.entries.section('support').relatedTo(entry.supportCategory.first()).orderBy('postDate desc') %}

{% block content %}

<div class="main main--inner">
	<article class="article article--support">
		<div class="shell">
			<div class="article__body">
				<div class="article__content">
					<h1>{{ entry.title }}</h1>
					{{ entry.supportBody }}
				</div>

				<aside class="article__aside">
					<h5>{{ entry.supportCategory.first().title }}</h5>

					<ul class="list-categories list-categories--size2">
						{% for row in otherPosts.all() %}
						<li class="{% if row.id == entry.id %}active{% endif %}">
							<a href="{{ row.url }}">{{ row.title }}</a>
						</li>
						{% endfor %}
					</ul>

					<div class="paging paging--alt">
						<a href="{{ url('support') }}" class="paging__prev">
							<i class="ico-arrow"></i>
							Go Back to Main Support Page
						</a>
					</div>

					<a href="{{ url('contact-us') }}" class="btn btn--transparent">Contact Us</a>
				</aside>
			</div>
		</div>
	</article>

	{% include "modules/_newsletter" %}
</div>

{% endblock %}
