# The environment Craft is currently running in ('dev', 'staging', 'production', etc.)
ENVIRONMENT="dev"

# The secure key Craft will use for hashing and encrypting data
SECURITY_KEY=""

# The database driver that will be used ('mysql' or 'pgsql')
DB_DRIVER="mysql"

# The database server name or IP address (usually this is 'localhost' or '127.0.0.1')
DB_SERVER="localhost"

# The database username to connect with
DB_USER="root"

# The database password to connect with
DB_PASSWORD=""

# The name of the database to select
DB_DATABASE=""

# The database schema that will be used (PostgreSQL only)
DB_SCHEMA="public"

# The prefix that should be added to generated table names (only necessary if multiple things are sharing the same database)
DB_TABLE_PREFIX=""

# The port to connect to the database with. Will default to 5432 for PostgreSQL and 3306 for MySQL.
DB_PORT=""

# App Stuff
APP_LOGIN_URL="https://skyclerk.cloudmanic.com"
APP_REGISTER_URL="https://accounts.cloudmanic.com/register/skyclerk?redirect=http://skyclerk.cloudmanic.com&plan=SKYCLERK-BASIC-0.00-03-24-2013"

# Pricing
TRIAL_DAYS=15
PRICE_PER_YEAR=60
PRICE_PER_MONTH=6

# Social Stuff
TWITTER_URL="https://twitter.com/skyclerk"
FACEBOOK_URL="https://www.facebook.com/skyclerk"

# Nginx Cache
NGINX_CACHE_WARM_URL=
NGINX_CACHE_WARM_KEY=

# Newslettter stuff
SENDY_SIGNUP_LIST_ID=
SENDY_NEWSLETTER_LIST_ID=
SENDY_URL=

# Slack
SLACK_HOOK=

# App Stores Urls
APP_STORE_APPLE=https://apps.apple.com/us/app/skyclerk-bookkeeping-and-accounting/id483718116
APP_STORE_ANDROID=https://play.google.com/store/apps/details?id=com.cloudmanic.skyclerk
