{% set loginUrl = getenv('APP_LOGIN_URL') %}
{% set registerUrl = getenv('APP_REGISTER_URL') %}

{% set trialDays = getenv('TRIAL_DAYS') %}

{% set twitterUrl = getenv('TWITTER_URL') %}
{% set facebookUrl = getenv('FACEBOOK_URL') %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% hook "seo" %}
	<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/assets/vendor/colorbox.css">
	<link rel="stylesheet" type="text/css" href="/assets/vendor/jquery.typeahead.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css?rel=1561471264076">

	<script src="{{ url('assets/vendor/jquery-3.1.1.min.js') }}" defer></script>
	<script src="{{ url('assets/vendor/jquery.typeahead.min.js') }}" defer></script>
	<script src="{{ url('assets/vendor/jquery.colorbox-min.js') }}" defer></script>
	<script src="/assets/js/app.js?rel=1561500708214" defer></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102266466-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-102266466-2');

	</script>
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="shell shell--fluid">
				<div class="header__content">
					<a href="{{ url('') }}" class="logo">Skyclerk</a>

					<a href="#" class="btn-menu">
						<span></span>
						<span></span>
						<span></span>
					</a>

					<div class="header__nav">
						<nav class="nav">
							<ul>
								<li class="{% if craft.request.firstSegment == '' %}current{% endif %}">
									<a href="{{ url('') }}">Home</a>
								</li>

								<li class="{% if craft.request.firstSegment == 'blog' %}current{% endif %}">
									<a href="{{ url('blog') }}">Blog</a>
								</li>

								<li class="{% if craft.request.firstSegment == 'support' %}current{% endif %}">
									<a href="{{ url('support') }}">Support</a>
								</li>
							</ul>
						</nav>

						<div class="header__actions">
							<nav class="nav">
								<ul>
									<li>
										<a href="{{ loginUrl }}">Login</a>
									</li>
								</ul>
							</nav>

							<a href="{{ registerUrl }}" class="btn">
								{{ trialDays }} Day Free Trial
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>

		{% block content %}{% endblock %}

		<footer class="footer">
			<div class="shell shell--fluid">
				<div class="footer__content">
					<div class="footer__aside">
						<a href="{{ url('') }}" class="logo logo--footer"></a>
						<p>&copy; 2019. All rights reserved. Skyclerk is a <a href="https://cloudmanic.com">Cloudmanic Labs</a> company</p>
					</div>

					<div class="footer__actions">
						<div class="footer__nav">
							<ul>
								<li>
									<a href="{{ url('terms-of-service') }}">Terms of Service</a>
								</li>

								<li>
									<a href="{{ url('privacy-policy') }}">Privacy Policy</a>
								</li>

								<li>
									<a href="{{ url('refunds') }}">Refunds</a>
								</li>
							</ul>
						</div>

						<div class="socials">
							<ul>
								<li>
									<a href="{{ twitterUrl }}" target="_blank">
										<i class="ico-twitter"></i>
									</a>
								</li>

								<li>
									<a href="{{ facebookUrl }}" target="_blank">
										<i class="ico-facebook"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</div>

	<script type="text/javascript">
		var _paq = window._paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u = "//piwik.cloudmanic.com/";
			_paq.push(['setTrackerUrl', u + 'matomo.php']);
			_paq.push(['setSiteId', '9']);
			var d = document,
				g = d.createElement('script'),
				s = d.getElementsByTagName('script')[0];
			g.type = 'text/javascript';
			g.async = true;
			g.defer = true;
			g.src = u + 'matomo.js';
			s.parentNode.insertBefore(g, s);
		})();

	</script>

</body>

</html>
