<ul>
	<li>
		<a href="https://www.facebook.com/sharer/sharer.php?u={{ url(craft.request.path) }}" onclick="javascript:window.open(this.href,
      '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
			<i class="ico-facebook"></i>
		</a>
	</li>

	<li>
		<a href="https://twitter.com/share?url={{ url(craft.request.path) }}&via=skyclerk" onclick="javascript:window.open(this.href,
      '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
			<i class="ico-twitter"></i>
		</a>
	</li>
</ul>
