<div class="flex items-center">
	<div class="flex-shrink-0">
		<a href="https://twitter.com/spicermatthews">
			<img class="h-10 w-10 rounded-full" src="/images/users/spicer-boat.jpg" alt="Spicer Matthews Image" />
		</a>
	</div>
	<div class="ml-3">
		<p class="text-sm leading-5 font-medium text-gray-900">
			<a href="https://twitter.com/spicermatthews" target="_blank" class="hover:underline">Spicer Matthews</a>
		</p>
		<div class="flex text-sm leading-5 text-gray-500">
			<time datetime="2020-03-16">
				{{ dateFormat "January 2, 2006" .Date }}
			</time>
		</div>
	</div>
</div>
