{% extends "layouts/_main" %}

{% set category = craft.categories.group('support').slug(craft.app.request.getSegment(2)).first() %}
{% set categories = craft.categories.group('support') %}

{% block content %}

<div class="main main--inner">
	<section class="section section--support">
		<div class="shell">
			<header class="section__head">
				<div class="section__head-inner">
					<h1>What can We Help You with Today?</h1>

					<a href="{{ url('contact-us') }}" class="btn btn--transparent">
						Contact Us
					</a>
				</div>

				<div class="search search--large">
					{% include "support/_search_field" %}
				</div>
			</header>

			<div class="section__body">
				<div class="cols">

					<div class="col col--1of3">
						<div class="section__entry">
							<h3>{{ category.title }}</h3>

							{% set e = craft.entries.section('support').relatedTo(category).orderBy('postDate desc') %}
							<ul class="list-categories">
								{% for row2 in e.all() %}
								<li>
									<a href="{{ row2.url }}">{{ row2.title }}</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	{% include "modules/_newsletter" %}
</div>

{% endblock %}
