{% extends "layouts/_main" %}

{% block content %}

<div class="main main--inner">
	<section class="section section--support">
		<div class="shell">
			<header class="section__head">
				<div class="section__head-inner">
					<h1>What can We Help You with Today?</h1>

					<a href="contact.html" class="btn btn--transparent">
						Contact Us
					</a>
				</div><!-- /.section__head-inner -->

				<div class="search search--large">
					<form action="?" method="get">
						<div class="search__body">
							<label for="q" class="hidden">Search</label>

							<input type="search" name="q" id="q" placeholder="Enter a question, keyword, or topic" class="search__field">

							<button type="submit" class="search__btn btn">
								<i class="ico-search-grey"></i>
							</button>

							<div class="search__actions">
								<ul>
									<li>
										<a href="#"><strong>SSS</strong> FAQs</a>
									</li>

									<li>
										<a href="#">Configure <strong>SSL</strong></a>
									</li>

									<li>
										<a href="#">Allow users to log in using <strong>SSL</strong></a>
									</li>
								</ul>
							</div><!-- /.search__actions -->
						</div><!-- /.search__body -->
					</form>
				</div><!-- /.search -->
			</header><!-- /.section__head -->

			<div class="section__body">
				<div class="cols">
					<div class="col col--1of3">
						<div class="section__entry">
							<h3>Getting Started</h3>

							<ul class="list-categories">
								<li>
									<a href="#">What options strategies does Options Cafe support?</a>
								</li>

								<li>
									<a href="#">Do you provide phone support or phone training?</a>
								</li>

								<li>
									<a href="#">Does Option Cafe offer two-factor authentication (2FA)?</a>
								</li>
							</ul><!-- /.list-categories -->
						</div><!-- /.section__entry -->
					</div><!-- /.col col-/-1of3 -->

					<div class="col col--1of3">
						<div class="section__entry">
							<h3>Broker Support</h3>

							<ul class="list-categories">
								<li>
									<a href="#">How do I fund my account?</a>
								</li>

								<li>
									<a href="#">How to setup your Tradier Brokerage account?</a>
								</li>

								<li>
									<a href="#">Commission Free Trading Costs Per Year</a>
								</li>

								<li>
									<a href="#">Who is Tradier Brokerage, Inc?</a>
								</li>

								<li>
									<a href="#">What brokers work with Options Cafe?</a>
								</li>

								<li>
									<a href="#">How do I connect Options Cafe with my broker (Tradier)?</a>
								</li>
							</ul><!-- /.list-categories -->
						</div><!-- /.section__entry -->
					</div><!-- /.col col-/-1of3 -->

					<div class="col col--1of3">
						<div class="section__entry">
							<h3>Another Category</h3>

							<ul class="list-categories">
								<li>
									<a href="#">Does Option Cafe offer two-factor authentication (2FA)?</a>
								</li>

								<li>
									<a href="#">Do you provide phone support or phone training?</a>
								</li>

								<li>
									<a href="#">Does Option Cafe offer two-factor authentication (2FA)?</a>
								</li>
							</ul><!-- /.list-categories -->
						</div><!-- /.section__entry -->
					</div><!-- /.col col-/-1of3 -->

					<div class="col col--1of3">
						<div class="section__entry">
							<h3>Options Screener</h3>

							<ul class="list-categories">
								<li>
									<a href="#">Using the options screener</a>
								</li>
							</ul><!-- /.list-categories -->
						</div><!-- /.section__entry -->
					</div><!-- /.col col-/-1of3 -->

					<div class="col col--1of3">
						<div class="section__entry">
							<h3>Another Category 2</h3>

							<ul class="list-categories">
								<li>
									<a href="#">How do I fund my account?</a>
								</li>

								<li>
									<a href="#">How to setup your Tradier Brokerage account?</a>
								</li>

								<li>
									<a href="#">Commission Free Trading Costs Per Year</a>
								</li>
							</ul><!-- /.list-categories -->
						</div><!-- /.section__entry -->
					</div><!-- /.col col-/-1of3 -->
				</div><!-- /.cols -->
			</div><!-- /.section__body -->
		</div><!-- /.shell -->
	</section><!-- /.section -->

	<div class="callout callout--size2">
		<div class="shell">
			<div class="callout__body">
				<div class="callout__aside">
					<h1>Subscribe to skyclerk Newsletter</h1>
				</div><!-- /.callout__aside -->

				<div class="callout__content">
					<div class="subscribe subscribe--inline">
						<form action="?" method="post">
							<div class="subscribe__head">
								<p>Get the latest news and updates from skyclerk delivered straight to your inbox!</p>
							</div><!-- /.subscribe__head -->

							<div class="subscribe__body">
								<label for="mail">
									<svg version="1.1" id="mail-inline-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
										<style type="text/css">
											.st0 {
												fill: #8A949B;
											}

										</style>
										<g>
											<g>
												<path class="st0" d="M463.6,454.5c11.4,0,21.3-3.8,29.7-11.2L349.4,299.4c-3.5,2.5-6.8,4.9-10,7.2c-10.8,7.9-19.5,14.1-26.2,18.6
												c-6.7,4.4-15.6,9-26.8,13.6c-11.1,4.6-21.5,6.9-31.2,6.9H255h-0.3c-9.6,0-20-2.3-31.2-6.9c-11.1-4.6-20.1-9.2-26.8-13.6
												c-6.7-4.4-15.4-10.6-26.2-18.6c-3-2.2-6.3-4.6-9.9-7.2L16.7,443.3c8.4,7.4,18.3,11.2,29.7,11.2H463.6z"></path>
												<path class="st0" d="M29.7,208.8C19,201.6,9.4,193.4,1.1,184.2V403l126.8-126.8C102.5,258.5,69.9,236.1,29.7,208.8z"></path>
												<path class="st0" d="M480.6,208.8c-38.6,26.1-71.4,48.6-98.4,67.5l126.8,126.8V184.2C500.8,193.2,491.3,201.4,480.6,208.8z"></path>
												<path class="st0" d="M463.6,55.5H46.4c-14.6,0-25.7,4.9-33.6,14.7C5,80.1,1.1,92.3,1.1,107.1c0,11.9,5.2,24.8,15.6,38.7
												c10.4,13.9,21.4,24.8,33.2,32.7c6.4,4.5,25.8,18,58.1,40.4c17.4,12.1,32.6,22.6,45.6,31.7c11.1,7.7,20.7,14.4,28.6,20
												c0.9,0.6,2.3,1.7,4.2,3c2,1.5,4.6,3.3,7.8,5.6c6.1,4.4,11.2,8,15.3,10.8c4.1,2.7,9,5.8,14.7,9.2c5.8,3.4,11.2,6,16.3,7.7
												c5.1,1.7,9.8,2.6,14.2,2.6h0.3h0.3c4.3,0,9.1-0.9,14.2-2.6c5.1-1.7,10.5-4.2,16.3-7.7c5.8-3.4,10.7-6.5,14.7-9.2
												c4.1-2.7,9.2-6.3,15.3-10.8c3.2-2.3,5.8-4.2,7.8-5.6c1.9-1.4,3.3-2.4,4.2-3c6.2-4.3,15.8-11,28.7-19.9
												c23.5-16.3,58.1-40.3,103.9-72.2c13.8-9.6,25.3-21.3,34.6-34.9c9.2-13.6,13.9-27.9,13.9-42.8c0-12.5-4.5-23.1-13.5-32
												C486.5,59.9,475.8,55.5,463.6,55.5z"></path>
											</g>
										</g>
									</svg>
								</label>

								<input type="email" id="mail" name="mail" value="" placeholder="Your Email Address" class="subscribe__field field">

								<button type="submit" class="subscribe__btn btn">Subscribe</button>
							</div><!-- /.subscribe__body -->
						</form>
					</div><!-- /.subscribe -->
				</div><!-- /.callout__content -->
			</div><!-- /.callout__body -->
		</div><!-- /.shell -->
	</div><!-- /.callout -->
</div><!-- /.main -->

{% endblock %}
