{% extends "layouts/_main" %}

{% set categories = craft.categories.group('support') %}

{% block content %}

<div class="main main--inner">
	<section class="section section--support">
		<div class="shell">
			<header class="section__head">
				<div class="section__head-inner">
					<h1>What can We Help You with Today?</h1>

					<a href="{{ url('contact-us') }}" class="btn btn--transparent">
						Contact Us
					</a>
				</div>

				<div class="search search--large">

					<form action="{{ url('support/search') }}" method="get">
						<div class="search__body typeahead__container">
							<label for="q" class="hidden">Search</label>
							<input type="search" name="q" id="q" placeholder="Enter a question, keyword, or topic" class="search__field typeahead-support" autocomplete="off" />
							<button type="submit" class="search__btn btn">
								<i class="ico-search-grey"></i>
							</button>
						</div>
					</form>

				</div>
			</header>

			<div class="section__body">
				<div class="cols">

					{% for row in categories.all() %}
					<div class="col col--1of3">
						<div class="section__entry">
							<h3>{{ row.title }}</h3>

							{% set e = craft.entries.section('support').relatedTo(row).orderBy('postDate desc') %}
							<ul class="list-categories">
								{% for row2 in e.all() %}
								<li>
									<a href="{{ row2.url }}">{{ row2.title }}</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</section>

	{% include "modules/_newsletter" %}
</div>

{% endblock %}
