{{ define "main" }}

<div class="min-h-screen bg-white">
	{{- partial "main-nav.html" . -}}

	<div class="py-10">

		<main>

			<div class="blog">

				<div class="cont">

					<h1 class="text-2xl py-5 leading-7 font-semibold text-gray-900">{{ .Title }}</h1>

					<div class="flex flex-row justify-between pb-6">

						{{- partial (printf "blog/authors/%s.html" .Params.author) . -}}


						{{ if .Params.categories }}
						<p class="text-sm leading-5 font-medium text-gray-300 mr-40">
							{{- range .Params.categories -}}
							<a class="hover:underline" href="{{- "/blog/" | relLangURL -}}{{- . | urlize -}}">{{- . -}}</a>
							{{- end -}}
						</p>
						{{end}}

					</div>

					<div class="blog-body">
						{{ .Content }}
					</div>

					{{- partial "blog/must-reads.html" . -}}
				</div>

				<div class="w-1/4 px-10">
					{{- partial "blog/categories.html" . -}}
					{{- partial "blog/ad.html" . -}}
					{{- partial "blog/follow-us.html" . -}}
				</div>

			</div>

		</main>

	</div>
</div>


{{- partial "footer-signup.html" . -}}
{{- partial "footer.html" . -}}


{{ end }}
