{{ define "main" }}

<div class="min-h-screen bg-white">
	{{- partial "nav/main.html" . -}}

	<div class="py-10">

		<main>

			<div class="relative pt-5 pb-20 px-4 sm:px-6 lg:pt-5 lg:pb-28 lg:px-8">

				<div class="relative max-w-7xl mx-auto">
					<div class="text-center">
						<h2 class="text-3xl leading-9 tracking-tight font-extrabold text-gray-900 sm:text-4xl sm:leading-10">
							{{ .Title }}
						</h2>
					</div>

					<div class="mt-12 grid gap-5 max-w-lg mx-auto lg:grid-cols-3 lg:max-w-none">
						{{- partial "blog/list.html" . -}}
					</div>
				</div>

			</div>

		</main>

	</div>
</div>


{{- partial "footer-signup.html" . -}}
{{- partial "footer.html" . -}}

{{ end }}
