<transition enter-active-class="transition ease-out duration-150 transform" enter-class="opacity-0 scale-95" enter-to-class="opacity-100 scale-100" leave-active-class="transition ease-in duration-75 transform" leave-class="opacity-100 scale-100"
 leave-to-class="opacity-0 scale-95">
	<div class="z-50 absolute top-0 inset-x-0 p-2 transition transform origin-top-right" v-if="showMobileMenu">
		<div class="rounded-lg shadow-md">
			<div class="rounded-lg bg-white shadow-xs overflow-hidden">
				<div class="px-5 pt-4 flex items-center justify-between">
					<div>
						<img class="h-8 w-auto" src="{{- (resources.Get "images/icon.png").Permalink -}}" alt="Skyclerk Logo" />
					</div>

					<div class="-mr-2">
						<button v-on:click="mobileMenuToggle()" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
							<svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
							</svg>
						</button>
					</div>
				</div>

				<div class="px-2 pt-2 pb-3 mobile-links">
					{{- partial "nav/links.html" . -}}
				</div>

				<div>
					<a href="https://app.skyclerk.com" class="block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100 hover:text-indigo-700 focus:outline-none focus:bg-gray-100 focus:text-indigo-700 transition duration-150 ease-in-out">
						Sign in
					</a>
				</div>
			</div>
		</div>
	</div>
</transition>
