<footer class="footer">
	<div class="shell shell--fluid">
		<div class="footer__content">
			<div class="footer__aside">
				<a href="/" class="logo logo--footer"></a>
				<p>&copy; 2019. All rights reserved. Skyclerk is a <a href="https://cloudmanic.com">Cloudmanic Labs</a> company</p>
			</div>

			<div class="footer__actions">
				<div class="footer__nav">
					<ul>
						<li>
							<a href="/terms-of-service">Terms of Service</a>
						</li>

						<li>
							<a href="/privacy-policy">Privacy Policy</a>
						</li>

						<li>
							<a href="/refunds">Refunds</a>
						</li>
					</ul>
				</div>

				<div class="socials">
					<ul>
						<li>
							<a href="" target="_blank">
								<i class="ico-twitter"></i>
							</a>
						</li>

						<li>
							<a href="" target="_blank">
								<i class="ico-facebook"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
