<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}vendor/colorbox.css">
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}vendor/jquery.typeahead.min.css">
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/style.css?rel=1563304903506">

	<script src="{{ .Site.BaseURL }}vendor/jquery-3.1.1.min.js" defer></script>
	<script src="{{ .Site.BaseURL }}vendor/jquery.typeahead.min.js" defer></script>
	<script src="{{ .Site.BaseURL }}vendor/jquery.colorbox-min.js" defer></script>
	<script src="{{ .Site.BaseURL }}js/app.js?rel=1568443219802" defer></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102266466-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-102266466-2');

	</script>
</head>
