<nav class="bg-white border-b border-gray-200">

	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
		<div class="flex justify-between h-16">
			<div class="flex">
				<div class="flex-shrink-0 flex items-center">
					<a href="{{ "/" | absURL }}">
						<img class="block lg:hidden h-8 w-auto" src="{{- (resources.Get "images/icon.png").Permalink -}}" alt="Skyclerk Logo" />
						<img class="hidden lg:block h-8 w-auto" src="{{- (resources.Get "images/icon.png").Permalink -}}" alt="Skyclerk Logo" />
					</a>
				</div>
				<div class="hidden sm:-my-px sm:ml-6 sm:flex main-links">
					{{- partial "nav/links.html" . -}}
				</div>
			</div>

			<div class="hidden sm:ml-6 sm:flex sm:items-center">
				<a href="https://app.skyclerk.com/register" class="btn">
					Try for 15 days free
				</a>
			</div>



			<div class="-mr-2 flex items-center sm:hidden">
				{{- partial "nav/hamburger-button.html" . -}}
			</div>
		</div>
	</div>

	{{- partial "nav/mobile-menu.html" . -}}
</nav>
