<div class="mt-5 mb-5">
	Share on <a href="https://twitter.com/share?url={{ .Permalink }}&via=skyclerk" onclick="javascript:window.open(this.href,
      '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">Twitter</a> and <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
	 onclick="javascript:window.open(this.href,
      '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">Facebook</a>.
</div>

Woots
