{{- $dashImg := resources.Get "images/service-image-1.png" -}}

<div class="flex flex-row flex-wrap bg-white p-6 md:p-0">

	<div class="w-full lg:w-3/5">
		<img src="{{ $dashImg.Permalink }}" alt="Skyclerk Dashboard" />
	</div>


	<div class="self-center lg:w-2/5 lg:pl-20">

		<div class="hidden lg:flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
			<svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
			</svg>
		</div>

		<h2 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
			Real-time Bookkeeping
		</h2>

		<p class="mt-6 text-lg leading-7 text-gray-500">
			Upon login, all you need is one quick glance to know how well your business is doing.
		</p>

	</div>
</div>
