{{- $img := resources.Get "images/skyclerk-homepage.png" -}}

<div class="bg-white relative bg-white overflow-hidden">
	<div class="max-w-screen-xl mx-auto ">
		<div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
			<svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
				<polygon points="50,0 100,0 50,100 0,100" />
			</svg>

			<div class="relative pt-6 px-4 sm:px-6 lg:px-8">

				<nav class="relative flex items-center justify-between sm:h-10 lg:justify-start">
					<div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
						<div class="flex items-center justify-between w-full md:w-auto">
							<a href="{{ "/" | absURL }}">
								<img class="h-8 w-auto sm:h-10" src="{{- (resources.Get "images/icon.png").Permalink -}}" alt="Skyclerk Logo" />
							</a>

							<div class="-mr-2 flex items-center md:hidden">
								{{- partial "nav/hamburger-button.html" . -}}
							</div>
						</div>
					</div>

					<div class="hidden md:block md:ml-10 md:pr-4 links">
						{{- partial "nav/links.html" . -}}
					</div>
				</nav>

			</div>

			{{- partial "nav/mobile-menu.html" . -}}

			{{- partial "home/hero.html" . -}}
		</div>
	</div>

	<div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
		<img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="{{ $img.Permalink }}" alt="Skyclerk In Action" />
	</div>
</div>
