<div class="relative bg-white m-auto p-20">
	<h2 class="p-10 text-center text-3xl leading-9 font-extrabold text-gray-900 sm:text-4xl sm:leading-10">
		Go Paperless with Snap!Clerk
	</h2>

	<img src="{{- (resources.Get "images/snapclerk-from-skyclerk.png").Permalink -}}" alt="Upload Receipts" />

	<p class="mt-10 text-2xl text-gray-500 text-center w-full">
		With Snap!Clerk we turn your receipts into data. Get paper off your desk and onto your ledger.
	</p>

	<div class="flex flex-row justify-center flex-wrap mt-16 w-full">
		<a href="https://apps.apple.com/us/app/skyclerk-bookkeeping-and-accounting/id483718116" class="block lg:w-1/4 p-5">
			<img src="{{- (resources.Get "images/app-store.png").Permalink -}}" alt="Skyclerk in Apple Store" class="h-16" />
		</a>

		<a href="https://play.google.com/store/apps/details?id=com.cloudmanic.skyclerk" class="block lg:w-1/4 p-5">
			<img src="{{- (resources.Get "images/google-play.png").Permalink -}}" alt="Skyclerk in Google Android Store" class="h-16" />
		</a>
	</div>
</div>
