{% extends "layouts/_main" %}

{% set query = craft.app.request.getParam('q') %}

{% set category = craft.categories.group('blog').slug(craft.request.segment(2)).first() %}
{% paginate craft.entries.section('blog').relatedTo(category).orderBy('postDate desc').limit(15) as pageInfo, entries %}

{% block content %}

<div class="main">
	{% include "blog/_modules/blogIntroSmall" %}

	<section class="section">
		{% include "blog/_modules/blogList" %}
	</section>

	{% include "modules/_newsletter" %}
</div>

{% endblock %}